:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --action-color: #c7242d;
  --danger-color: red;
  --table-padding: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

h1 {
  font-size: 20px;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a.call-to-action, button.call-to-action {
  background-color: var(--action-color);
  font-size: 18px;
  line-height: 30px;
  padding: 5.4px 18px;
  color: white;
  font-weight: 500;
  border: 2px solid var(--action-color);
}

.app-link ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}


.app-link a.active-link {
  color: var(--action-color);
}

.standard-divider {
  display: block;
  width: 180px;
  height: 23px;
  border-bottom: 1px solid black;
  margin-bottom: 23px;
}

table th {
  padding: var(--table-padding);
  border-bottom: 1px solid black;
}

table td {
  padding: var(--table-padding);
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 32px;
}

.form-group label {
  width: 100%;
  display: block;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 8px;
}

.form-group label::after {
  content: '*';
  color: var(--action-color)
}

.form-group input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 4px;
}

.form-group input[type="number"] {
  width: 30%;
}