:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --action-color: #c7242d;
  --danger-color: red;
  --danger-color-light: rgb(253, 82, 82);
  --table-padding: 4px;
  --font-size-action: 18px;
  --font-size-inline-action: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

h1 {
  font-size: 20px;
}

.text-danger {
  color: red;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a.as-button {
  font-size: var(--font-size-inline-action);
  padding: 2px 8px;
  font-weight: 500;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
}

a.as-button:hover {
  opacity: 1;
  color: white;
  background-color: rgb(50, 49, 49);
}

button.danger {  
  font-size: var(--font-size-inline-action);
  padding: 2px 8px;
  font-weight: 500;
  border: 2px solid black;
  cursor: pointer;
  color: white;
  background-color: var(--danger-color);
}
button.danger:hover {
  background-color: var(--danger-color-light);
}

.button-ribbon-left {
  display: flex;
  gap: 8px;
}

a.call-to-action, button.call-to-action {
  background-color: var(--action-color);
  font-size: var(--font-size-action);
  line-height: 30px;
  padding: 5.4px 18px;
  color: white;
  font-weight: 500;
  border: 2px solid var(--action-color);
}

.app-link ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}


.app-link a.active-link {
  color: var(--action-color);
}

.standard-divider {
  display: block;
  width: 180px;
  height: 23px;
  border-bottom: 1px solid black;
  margin-bottom: 23px;
}

table {
  border-collapse: collapse;
}

table th {
  padding: var(--table-padding);
  border-bottom: 1px solid black;
}

table td {
  padding: var(--table-padding);
}

tbody tr:hover {
  background-color: rgb(241, 240, 240);
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 16px;
}

.form-group label {
  width: 100%;
  display: block;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 8px;
}

.form-group label.required::after {
  content: '*';
  color: var(--action-color)
}

.form-group input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 4px;
}

.form-group input[type="number"] {
  width: 30%;
}

.form-group .text-danger {
  margin-top: 8px;
}

.display-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 16px;
}

.display-group label {
  width: 100%;
  display: block;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 8px;
}
